<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sector Form Demo Error Page</title>

    <link th:href="@{/css/sectorFormDemo.css}" rel="stylesheet" media="screen"/>
</head>

<body>
<h2 class="errorMessage">Oops! Something went wrong. <a href="/sector_form_demo">Retry?</a></h2>
<!-- This link's URL differs based on whether the Tomcat server used is embedded or external -->
</body>

<footer class="footer">
    Author: Märten Heinsalu
    <br>
    2020
</footer>

</html>